


html {
	overflow-y: scroll; 
}

body {
    background-image: url("login-gov-600x314.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


h1{

    text-align: center;
    color:--white;
    font-weight:--thin;
    margin:0 0 40px;
    
}

